@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap");

.mainbg {
  min-height: 90vh;
  display: flex;
  text-align: left;
  padding: 10px 0;
}
.page {
  width: 100%;
}
.heading {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
